* {
    outline: none;
}

body {
    background-color: #826FA0;
    background-image: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-origin: border-box;
    background-size: cover;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

div.text {
    text-align: center;
    margin-bottom: 30px;
}

div.text svg {
    width: 413px;
    height: 158px;
}

div.link {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    display: inline-block;
}

div.link:hover svg {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

div.link .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #1e1e1e;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

div.link .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

div.link:hover .tooltiptext {
    visibility: visible;
}

svg {
    transition: all .8s ease-out;
}

svg.icon {
    height: 80px;
    fill: white;
}

@media only screen and (max-width: 600px) {
    div.text svg {
        width: 302px;
        height: 147px;
    }

    svg.icon {
        height: 60px;
    }

    div.link {
        margin-left: 20px;
        margin-right: 20px;
    }
}