* {
    outline: none;
}

body {
    margin: 0;
    background-color: #100F17;
    color: #ffffff;
    font-family: 'Inter', 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 100px;
}

.app {
    max-width: 1000px;
    margin: 120px auto 0 auto;
}

header {
    text-align: center;
    height: 130px;
    margin: 160px 0 160px 0;
}

a {
    text-decoration: none;
    color: #e3d2fe;
    font-weight: 600;
    transition: color .2s ease-in-out;
}

a:hover {
    color: #ffffff;
}

b {
    font-weight: 800;
}

p {
    line-height: 140%;
}

h1.heading {
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0px 35px 30px;
}

h1.heading.center {
    margin-left: 0px !important;
}

p.description {
    font-weight: 600;
    font-size: 21px;
    color: #e8eef6;
}

button {
    border: none;
    line-height: 24px;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color .2s ease-in-out, color .2s ease-in-out,;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out,;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out,;
}

button.primary {
    background-color: #1E1E22;
    color: #ffffff;
}

button.secondary {
    background-color: #e8eef6;
    color: #1E1E22;
}

button.primary svg {
    vertical-align: -3px;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

button.primary:hover {
    background-color: #2d2d34;
}

button.secondary:hover {
    background-color: #ffffff;
    color: #1E1E22;
}

button.primary:active {
    background-color: #434350;
}

button.secondary:active {
    background-color: #c1c1de;
    color: #1E1E22;
}

.no-touch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* Responsive */

@media only screen and (max-width: 800px) {
    .app {
        margin: 80px auto 0 auto;
    }

    body {
        padding: 0px 50px;
    }

    header {
        margin: 100px 0 90px 0;
    }

    .heading,
    .description,
    .external {
        text-align: center;
    }

    .heading {
        margin-left: 0px !important;
    }
}


@media only screen and (max-width: 600px) {
    .heading {
        font-size: 25px !important;
    }

    .description {
        font-size: 15px !important;
    }

    header svg {
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        padding: 0px 15px;
    }

    header {
        margin: 30px 10px 50px 10px;
    }

    header svg {
        width: 200px;
    }
}