.music {
    margin: 180px 0 75px 0;
    text-align: center;
}

.music img {
    width: 250px;
}

span.song {
    color: #9EFFB9;
    background-image: url(../assets/music/scan.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: contain;
    padding: 0px 15px;
}

@media only screen and (max-width: 800px) {
    .music {
        margin: 120px 0 75px 0;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .music img {
        width: 180px;
    }

    span.song {
        padding: 0px 10px;
    }
}