.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 15px 30px; */
    margin: 20px -15px 0 -15px;
}

.project {
    margin: 15px;
    border-radius: 25px;
    border-top: 3px solid rgba(255, 255, 255, 0.273);
    border-right: 3px solid rgba(255, 255, 255, 0.273);
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 30px;
    min-height: 100%;
    min-width: 200px;
    /* min-height: 230px; */
}

.project h2 {
    margin: 0 0;
    font-size: 30px;
    font-weight: 700;
}

.project p {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 20px 0;
}

.project-time {
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 5px 10px;
    user-select: none;
    cursor: default;
    color: #1E1E22;
}

.project-time p {
    font-weight: 700;
    margin: 0;
    font-size: 15px;
    display: inline-block;
}

.project-time svg {
    vertical-align: -2px;
    margin: 0 7px 0 0;
}

.project-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.project-footer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-image {
    min-width: 150px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}

.project button.primary {
    border: none;
    line-height: 24px;
    background-color: #1E1E22;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}

.project button.primary svg {
    vertical-align: -3px;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.project button.primary:hover {
    background-color: #2d2d34;
}

.project button.primary:active {
    background-color: #434350;
}

.break {
    flex-basis: 100%;
    position: relative;
    height: 0;
}

@media only screen and (max-width: 1024px) {
    .project-image {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .project {
        text-align: center;
    }

    .project-footer {
        justify-content: center;
    }

    .projects {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .project h2 {
        font-size: 24px;
    }

    .project p {
        font-size: 15px;
        font-weight: 500;
    }
}